aiofiles==0.4.0
apispec>=1.0.0b1
certifi==2018.10.15
chardet==3.0.4
click==6.7
flex==6.13.2
graphql-core==2.1
graphql-server-core==1.1.1
h11==0.8.1
httptools==0.0.11
idna==2.7
Jinja2==2.10
jsonpointer==1.14
jsonschema==2.6.0
MarkupSafe==1.0
marshmallow==2.16.0
openapi-spec-validator==0.2.4
prance==0.13.2
promise==2.2.1
PyYAML==3.13
requests==2.19.1
rfc3987==1.3.8
Rx==1.6.1
semver==2.8.1
six==1.11.0
starlette==0.5.1
strict-rfc3339==0.7
urllib3==1.23
uvicorn==0.3.13
uvloop==0.11.2
validate-email==1.3
websockets==6.0
